@using Teste.ToDoList.Infra.Entidades;
@model IEnumerable<Tarefa>

@{
    Layout = null;
}

<style>
    tr {
        vertical-align: middle;
    }
</style>

<div style="display:none;" class="alert alert-danger" role="alert" id="alerta-erro"></div>
<br />
<table class="table">
    <thead>
        <tr>
            <th class="text-center" width="40%">
                Título
            </th>
            <th class="text-center" width="40%">
                Descrição
            </th>
            <th class="text-center" width="5%">
                Início
            </th>
            <th class="text-center" width="5%">
                Fim
            </th>
            <th class="text-center" width="5%">
                Status
            </th>
            <th class="text-center" width="5%">
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (Tarefa tarefa in Model
                .OrderBy(c => c.DataInicio)
                .ThenBy(c => c.Status))
            {
                <tr>
                    <td>
                        @tarefa.Titulo
                    </td>
                    <td>
                        @tarefa.Descricao
                    </td>
                    <td class="text-center">
                        @tarefa.DataInicio.ToString("dd/MM/yyyy")
                    </td>
                    <td class="text-center">
                        @(tarefa.DataFim?.ToString("dd/MM/yyyy") ?? "-")
                    </td>
                    <td class="text-center">
                        @tarefa.StatusDescricao
                    </td>
                    <td class="text-center">
                        <a class="btn btn-dark" href="/Home/Tarefa/@tarefa.Id" title="Ver" style="    margin-bottom: 5px;">
                            <svg fill="#ebebeb" height="25" width="25" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 512 512" stroke="#ebebeb"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="m494.8,241.4l-50.6-49.4c-50.1-48.9-116.9-75.8-188.2-75.8s-138.1,26.9-188.2,75.8l-50.6,49.4c-11.3,12.3-4.3,25.4 0,29.2l50.6,49.4c50.1,48.9 116.9,75.8 188.2,75.8s138.1-26.9 188.2-75.8l50.6-49.4c4-3.8 11.7-16.4 0-29.2zm-238.8,84.4c-38.5,0-69.8-31.3-69.8-69.8 0-38.5 31.3-69.8 69.8-69.8 38.5,0 69.8,31.3 69.8,69.8 0,38.5-31.3,69.8-69.8,69.8zm-195.3-69.8l35.7-34.8c27-26.4 59.8-45.2 95.7-55.4-28.2,20.1-46.6,53-46.6,90.1 0,37.1 18.4,70.1 46.6,90.1-35.9-10.2-68.7-29-95.7-55.3l-35.7-34.7zm355,34.8c-27,26.3-59.8,45.1-95.7,55.3 28.2-20.1 46.6-53 46.6-90.1 0-37.2-18.4-70.1-46.6-90.1 35.9,10.2 68.7,29 95.7,55.4l35.6,34.8-35.6,34.7z"></path> </g> </g></svg>
                        </a>
                        <button class="btn btn-danger" type="button" title="Remover" onclick="removerTarefa(@tarefa.Id)">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0,0,256,256">
                                <g fill="#d4d4d4" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(10.66667,10.66667)"><path d="M10,2l-1,1h-5v2h16v-2h-5l-1,-1zM5,7v13c0,1.1 0.9,2 2,2h10c1.1,0 2,-0.9 2,-2v-13zM8,9h2v11h-2zM14,9h2v11h-2z"></path></g></g>
                            </svg>
                        </button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center" style="font-style: italic;">
                    Você não possui nenhuma tarefa cadastrada.
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    var removerTarefa = function (tarefaId) {
        $.ajax({
            url: '/Home/Remover',
            type: 'DELETE',
            data: { id: tarefaId }
        }).done(function (result) {
            if (result.sucesso) {
                window.location.reload();
            } else {
                $('#alerta-erro').html(result.mensagem);
                $('#alerta-erro').fadeIn('fast');
            }
        });
    }
</script>